@{
    ViewData["Title"] = "BixyBuy";
    //~/images/shoes.jpg
}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
			<img src="~/images/Slider_2_x800.webp" class="d-block w-100" alt="shoes">
    </div>
    <div class="carousel-item">
            <img src="~/images/slider1.jpg" class="d-block w-100" alt="shoes">
    </div>
    <div class="carousel-item">
            <img src="~/images/Homepage-banner-Ajio.webp" class="d-block w-100" alt="shoes">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="card-header">
            <h2 class="toproducts">Top Products</h2>
        </div>
        <div class="carousel-item active">
                <div class="cards-wrapper">
                    @for(int i = 1; i<=5; i++){
                    <div class="card card-home">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    }
                </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                
                    @for(int i = 1; i<=5; i++){
                    <div class="card card-home">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    }
                </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                @for (int i = 1; i <= 5; i++)
                {
                    <div class="card card-home">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="Category">
        <h3 class="h3-cate">Categories</h3>
    </div>
    <div class="row-cols-2">
        <div class="col-1">
            <img src="~/images/Top-Banner-momte-carlo-Web_i8hry9to8734il8.webp" class="men-category-image"/>
        </div>
        <div class="col-2">
            <img src="~/images/special_sale_banner.jpeg" class="w-category-image"/>
        </div>
    </div>
    <div class="row-cols-1">
        <div class="col">
            <img src="~/images/shoes.jpg" class="kids-category-image"/>
        </div>
    </div>
</div>

 