<div class="container d-flex justify-content-center align-items-center">

    <div class="card">

        <div class="upper">

            <img src="~/images/cimages.jpg" class="img-fluid">

        </div>

        <div class="user text-center">

            <div class="profile card-profile">

                <img src="~/images/B-Letter-Transparent.png" class="rounded-circle" width="80">

            </div>

        </div>


        <div class="mt-5 text-center lr-bg">

            <h4 class="mb-0 lr-head">bixybuy</h4>
            

            <a asp-area="" asp-controller="Account" asp-action="Login" type=button class="btn btn-primary btn-sm follow lr-btn">Login</a>
            <br>
            <span class="text-muted d-block mb-2">Or</span>
            <br>
            <a asp-area="" asp-controller="Account" asp-action="Register" type="Button" class="btn btn-primary btn-sm follow lr-btn">Register</a>


        </div>

    </div>

</div>